@font-face {
  font-family: "iconfont"; /* Project id 2895238 */
  src: url('iconfont.woff2?t=1635334641307') format('woff2'),
       url('iconfont.woff?t=1635334641307') format('woff'),
       url('iconfont.ttf?t=1635334641307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-danju-xianxing:before {
  content: "\e89a";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-zhexiantu:before {
  content: "\e904";
}

.icon-databaseset-fill:before {
  content: "\e7b4";
}

.icon-user-group-fill:before {
  content: "\e7d3";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-user:before {
  content: "\e99e";
}

